@import opal.less;

summary {
  cursor: pointer;
}

.method_bytecode tr:hover{
  background-color: #ccdef9;
}

ol.cp_entries li {
  padding: 5px;
}

ol.cp_entries li:hover{
  background-color: #ccdef9;
}
