// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "syntax-variables";

.java-bytecode-disassembler {
	background-color: lighten(@base-background-color, 2%);
	color: @text-color;

	#class_file_header {
		background-color: @panel-heading-background-color;
		border-color: @panel-heading-border-color;
		padding: 1em;
		font-size: calc(@font-size + 3px);
	}

	.class_file {
		height: 100%;
		width: 100%;
		overflow: auto;
	}

	#defined_class,
	.field_type,
	.interface,
	.name,
	.object_type,
	.type {
		color: @syntax-color-class;
		font-weight: bold;
	}

	.object_type:hover {
		color: @syntax-selection-color;
		cursor: pointer;
	}

	summary .object_type:hover {
		color: @syntax-color-class !important;
		cursor: inherit !important;
	}

	div.constant_pool,
	div.members > div {
		padding: 8px;
		border: 1px solid @panel-heading-border-color;
	}

	details[open] summary {
		padding: 4px;
		background-color: @panel-heading-background-color;
		border-color: @panel-heading-border-color;
		cursor: pointer;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
	}

	details:not([open]) summary {
		padding: 4px;
		background-color: @panel-heading-background-color;
		border-color: @panel-heading-border-color;
		cursor: pointer;
		border-radius: 5px;
	}

	details {
		background-color: @inset-panel-background-color;
		margin-top: 5px;
	}

	.method_declaration,
	summary {
		font-size: calc(@font-size + 2px);
	}

	details[open] {
		border: 1px solid @inset-panel-border-color;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		padding-bottom: 10px;
	}

	details[open] > *:not(summary) {
		margin-left: 15px;
	}

	.cp_entries li {
		margin: 5px;

		&:hover {
			background-color: @background-color-highlight;
		}
		color: @syntax-color-tag;
		border-radius: 3px;
	}

	.cp_ref {
		margin-left: 15px;
		color: @syntax-text-color;
	}

	.cp_entry {
		margin-left: 15px;
		display: block;
	}

	.access_flags {
		color: @syntax-color-keyword;
	}

	.method_bytecode tr:hover {
		background-color: @background-color-highlight;
	}

	.method_bytecode td {
		padding: 1px;
	}

	.pc {
		color: @syntax-color-modified;
		width: 30px;
	}

	.line {
		color: @syntax-color-added;
		width: 30px;
	}

	span.instruction {
		color: @syntax-color-renamed;
		font-style: italic;
		display: inline-block;
		width: 112px;
	}

	.cp_name_and_type .identifier {
		color: @syntax-color-variable;
	}

	.method_signature {
		margin-top: 10px;
		font-weight: bold;
	}

	.method_name {
		color: @syntax-color-method;
	}

	.attribute_name {
		color: @syntax-color-attribute;
	}

	.extends,
	.implements {
		color: @syntax-color-import;
	}

	.method_signature {
		.name {
			color: @syntax-color-method;
		}

		.parameter,
		.return {
			color: @syntax-color-class;
		}
	}

	#disassembled-view-map-panel {
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			opacity: 1;
		}

		ul:not(#disassembled-view-map-tree) {
			margin-left: 2em;
			max-height: 250px;
			overflow-y: auto;
		}

		.handle {
			cursor: pointer;
		}

		.handle.collapsed::before {
			content: "►";
			margin-right: 5px;
		}

		.handle.expanded::before {
			content: "▼";
			margin-right: 5px;
		}

		.map-element {
			width: 100%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.map-element:hover {
			background-color: @background-color-highlight;
			cursor: crosshair;
		}
		position: absolute;
		top: 10px;
		right: 15px;
		z-index: 50;
		background-color: @tool-panel-background-color;
		opacity: 0.7;
		border-radius: 5px;
		padding: 8px;
	}

	.highlighted {
		background-color: @syntax-selection-flash-color;
	}
	// Exception stuff
	td.exception {
		position: relative;
	}

	td.exception div {
		height: 100%;
		width: 23px;
		position: absolute;
		top: 0;
		margin: 2px;
	}

	td.exception div.exception {
		background: rgb(255, 168, 152);
	}

	td.exception,
	td.exception_empty,
	th.exception_empty {
		background-color: rgb(245, 245, 172);
	}

	th.exception_header {
		width: 2em;
		max-width: 2em;
	}

	td.exception div.exception_handler {
		background: #77FD77;
		z-index: 1;
		height: 15px;
	}

	td.exception div.handler_overlap:before {
		position: absolute;
		height: 15px;
		width: 15px;
		z-index: 2;
		background: #77FD77;
		content: " ";
		border-radius: 2px;
	}

	td.exception span {
		-webkit-transform: rotate(90deg) translate(0px, -17px);
		-webkit-transform-origin: 0 0;
		position: absolute;
		text-align: center;
		height: 25px;
		margin-left: 5px;
		margin-top: 5px;
		white-space: nowrap;
		pointer-events: none;
		z-index: 3;
	}

	ol.cp_entries,
	ol.exception_table {
		padding: 1em 0 1em 2.5em;
	}
	// Progress View
	#progress-ring {
		margin: 0 auto;
		border: 20px solid #f3f3f3;
		/* Light grey */
		border-top: 20px solid #3498db;
		/* Blue */
		border-radius: 50%;
		width: 100px;
		height: 100px;
		animation: spin 2s linear infinite;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}

	#progressLabel{
		text-align: center;
		color: @text-color;
		font-weight: bold;
		font-size: 16;
	}

	#error-message{
		margin-top: 10px;
		text-align: center;
		color: @text-color-error;
		font-weight: bold;
		font-size: 16;

	}

	/*
	#progress-output{
		width: 85%;
		margin: 0 auto;
		height: 200px;
		color: @syntax-text-color;
		background-color: @syntax-background-color;
		border: 2px solid @tab-border-color;
		overflow: auto;
		font-size: 14px;
	}
	*/
}
